body {
  background-image: url(img/project_papper_@2X.png);
}

.container {
  width: 600px;
  margin: 30px auto;
  padding: 0 20px;
  border: 1px solid gray;
  background-color: white;
}

.answer {
  font-size: 20px;
  color: gray;

}
